<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= config.siteNavbar %> | Page Editor</title>
    <!-- Stylesheets -->
    <%- include('./partials/styling.ejs') %>
    <!-- End Stylesheeting -->
</head>

<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

            <!-- Top Menu Items -->
            <%- include('./partials/navbar.ejs') %>
            <!-- Sidebar -->
            <%- include('./partials/sidebar') %>
        </nav>
        <!-- End Navigation -->

        <div id="page-wrapper">
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            <%= page.slug %> <small>Edit</small>
                        </h1>
                    </div>
                </div>
                <!-- End Page Heading -->

                <!-- Begin Page Content -->
                <form role="form" action="/admin/pages/edit" method="POST">

                    <!-- page.slug -->
                    <div class="col-lg-4">
                        <form role="form">
                            <div class="form-group">
                                <label>Page Slug <small>(You can't change this.)</small></label>
                                <input class="form-control" readonly name="slug" value="<%= page.slug %>">
                                <p class="help-block">
                                    Page slug. Used to access the page.
                                </p>
                            </div>   
                    </div>
                    <!-- end page.slug -->
                                   
                    <!-- page.navbarTitle -->
                    <div class="col-lg-4">
                    
                            <div class="form-group">
                                <label>Navigation Bar Title</label>
                                <input class="form-control" name="navbarTitle" value="<%= page.navbarTitle %>">
                                <p class="help-block">This is what will appear at the top of the webpage tab.</p>
                            </div>
                            
                    </div>
                    <!-- end navbarTitle -->

                    <!-- page.articleTitle -->
                    <div class="col-lg-4">
                        <form role="form">
                            <div class="form-group">
                                <label>Article Title</label>
                                <input class="form-control" name="articleHeader" value="<%= page.articleHeader %>">
                                <p class="help-block">This is the name of the page's article.</p>
                            </div>   
                    </div>
                    <!-- end articleTitle -->


                    <!-- page.articleContent -->
                    <div class="col-lg-12" >
                        <div class="form-group">
                            <label>Article Content</label>
                            <textarea class="form-control" rows="3" name="articleContent"><%=  page.articleContent %></textarea>
                        </div>
                    </div>
                    <!-- end articleContent -->

                    <!-- submit button -->
                    <div class="col-lg-12" align="center">
                        <input class="btn btn-lg btn-success"  type="submit" value="Update">
                    </div>
                    <!-- end submit button -->

                </form>
            


            </div><!-- /container-fluid -->
        </div><!-- /#pager-wrapper -->
    </div><!-- /#wrapper -->

    <!-- JS -->
    <%- include('./partials/javascript.ejs') %>
    <!-- End JS -->

</body>
</html>
