<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= config.siteNavbar %> | Secondary Sidebar</title>
    <!-- Stylesheets -->
    <%- include('./partials/styling.ejs') %>
    <!-- End Stylesheeting -->
</head>

<body>
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Top Menu-->
            <%- include('./partials/navbar.ejs') %>
            <!-- Sidebar -->
            <%- include('./partials/sidebar') %>
        </nav>
        <!-- End Navigation -->

        <div id="page-wrapper">
            <div class="container-fluid">

                <!-- Edit Secondary Sidebar -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Edit Secondary Sidebar
                        </h1>
                    </div><!-- col-lg 12 -->
                </div><!-- /.row -->
                <!-- End Edit Secondary Sidebar  -->

                <!-- Edit Secondary Sidebar Form -->
                <form role="form" action="/admin/navigation/sidebarSecondary" method="POST">

                    <% sidebarSecondarySections.forEach (function (sidebarSecondarySection) { %>
                    <div class="col-lg-12 table table-bordered">

                        <!-- Header -->                
                        <div class="col-lg-12">
                            <div class="col-lg-3">
                                 <label><small>Header</small></label>
                                 <input class="hidden" name="id" value="<%= sidebarSecondarySection.id %>" readonly >
                                 <input class="form-control" name="name" placeholder="Name" value="<%= sidebarSecondarySection.name %>">
                            </div>
                        </div>  
                        <!-- End Header -->

                        <!-- Links -->
                        <div class="col-lg-12" style="padding-bottom:50px">
                            <div class="col-lg-8">   
                                <textarea class="form-control" placeholder="URL" rows="1" name="URL"><%= sidebarSecondarySection.URL %></textarea>
                            </div>
                        </div>
                        <!-- End Links -->

                        <!-- Priority -->
                        <div class="col-lg-12" style="padding-bottom:0px">
                             <div class="col-lg-1">
                                 <label><small>Priority</small></label>
                                <input class="form-control" name="priority" value="<%= sidebarSecondarySection.priority %>">
                             </div>                       
                        </div>
                        <!-- End Priority -->     

                         <!-- Delete -->
                        <div class="col-lg-12" style="padding-bottom:50px" align="right">
                            <a class="btn btn-sm btn-danger" href="/admin/navigation/sidebarSecondary/delete/<%= sidebarSecondarySection.id %>">Delete</a>  
                        </div>
                        <!-- End Delete -->
                               
                    </div>        
                    <% }); %><!-- end footerSections.forEach -->
      
                        <!-- submit button -->
                        <div class="col-lg-12" align="center">
                            <input class="btn btn-lg btn-success" type="submit" value="Update" >
                        </div>
                        <!-- end submit button -->

                </form>

                <!-- Add New Heading  -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Add New
                        </h1>
                    </div>
                </div>
                <!-- End Add New Heading -->   

                 <form role="form" action="/admin/navigation/sidebarSecondary/add" method="POST">
                    <div class="col-lg-12 table table-bordered">

                        <!-- Header -->                
                        <div class="col-lg-12">
                            <div class="col-lg-3">
                                 <label><small>Header</small></label>
                                 <input class="form-control" name="name" placeholder="Name">
                            </div>
                        </div>  
                        <!-- End Header -->

                        <!-- Links -->
                        <div class="col-lg-12" style="padding-bottom:50px">
                            <div class="col-lg-8">   
                                <textarea class="form-control" placeholder="URL" rows="1" name="URL"></textarea>
                            </div>
                        </div>
                        <!-- End Links -->

                        <!-- Priority -->
                        <div class="col-lg-12" style="padding-bottom:50px">
                             <div class="col-lg-1">
                                 <label><small>Priority</small></label>
                                <input class="form-control" name="priority" placeholder="0" >
                             </div>                       
                        </div>
                        <!-- End Priority -->   
                    </div><!-- end table table-bordered -->

                    <!-- submit button -->
                    <div class="col-lg-12" align="center">
                        <input class="btn btn-lg btn-success"  type="submit" value="Add New">
                    </div>
                    <!-- end submit button -->   

                 </form>                                             
            
            </div><!-- /container-fluid -->
        </div><!-- /#pager-wrapper -->
    </div><!-- /#wrapper -->

    <!-- JS -->
    <%- include('./partials/javascript.ejs') %>
    <!-- End JS -->

</body>
</html>
