<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= config.siteNavbar %> | Social Media</title>
    <!-- Stylesheets -->
    <%- include('./partials/styling.ejs') %>
    <!-- End Stylesheeting -->
</head>

<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

            <!-- Top Menu Items -->
            <%- include('./partials/navbar.ejs') %>
            <!-- Sidebar -->
            <%- include('./partials/sidebar') %>
        </nav>
        <!-- End Navigation -->

        <div id="page-wrapper">
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Edit Social Media
                        </h1>
                    </div>
                </div>
                <!-- End Page Heading -->

                <form role="form" action="/admin/navigation/socialMedia" method="POST">


                    <!-- Links -->
                    <div class="col-lg-12" style="padding-bottom:50px">
                        <div class="col-lg-8"> 
                            <label><small>Header</small></label>  
                            <input class="form-control" name="header" placeholder="Name" value="<%= socialMedia.header %>">
                            <label><small>Description</small></label>  
                            <textarea class="form-control" rows="1" name="description"><%= socialMedia.description %></textarea>     
                            <label><small>Facebook</small></label>  
                            <input class="form-control" name="facebookURL" placeholder="" value="<%= socialMedia.facebookURL %>">
                            <label><small>Twitter</small></label>  
                            <input class="form-control" name="twitterURL" placeholder="" value="<%= socialMedia.twitterURL %>">
                            <label><small>YouTube</small></label>  
                            <input class="form-control" name="youTubeURL" placeholder="" value="<%= socialMedia.youTubeURL %>">
                            <label><small>Instagram</small></label>  
                            <input class="form-control" name="instagramURL" placeholder="" value="<%= socialMedia.instagramURL %>">                                                   
                        </div>
                    </div>                         
                    <!-- End Links -->

                    <!-- submit button -->
                    <div class="col-lg-12" align="center">
                        <input class="btn btn-lg btn-success" type="submit" value="Update">
                    </div><!-- col-lg 12 -->
                    <!-- end submit button -->

                </form>                    

            </div><!-- /#page-wrapper -->
        </div><!-- /#wrapper -->

    <!-- JS -->
    <%- include('./partials/javascript.ejs') %>
    <!-- End JS -->

</body>
</html>
