<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= config.siteNavbar %> | Page Editor</title>
    <!-- Stylesheets -->
    <%- include('./partials/styling.ejs') %>
    <!-- End Stylesheeting -->
</head>

<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->

            <!-- Top Menu Items -->
            <%- include('./partials/navbar.ejs') %>
            <!-- End Top Menu Items -->
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <%- include('./partials/sidebar') %>
            <!-- /.navbar-collapse -->
        </nav>
        <!-- End Navigation -->

        <div id="page-wrapper">
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Edit Footer
                        </h1>
                    </div><!-- col-lg 12 -->
                </div><!-- /.row -->
                <!-- End Page Heading -->

<!-- Begin Page Content -->
                <form role="form" action="/admin/navigation/footer" method="POST">

                <% footerSections.forEach (function (footerSection) { %>
                <div class="col-lg-12 table table-bordered"><!-- Contain all subsets -->
                    <!-- Header -->                
                    <div class="col-lg-12">
                        <div class="col-lg-3">
                             <label><small>Header</small></label>
                             <input class="form-control" name="header" value="<%= footerSection.header %>">
                        </div>
                    </div><!-- end col-lg-12 -->      
                    <!-- End Header -->

                    <!-- Links -->
                    <div class="col-lg-12">                       

                        <div class="col-lg-3 col-lg-offset-1">
                            <label><small>Entries</small></label>

                            <% var footerLinks = footerSection.links.split(';'); %>

                            <% footerLinks.forEach( function (footerLinkEntry) { %>
                                <% var footerLinkParts = footerLinkEntry.split('|'); %>

                                <div class="col-g-12" style="padding-bottom:10px">
                                <label><small>Title</small></label>
                                <input class="form-control" name="footerLinkURL" value="<%= footerLinkParts[0] %>">

                                <label><small>URL</small></label>
                                <input class="form-control" name="footerLinkName" value="<%= footerLinkParts[1] %>">

                                </div>
                            <% }); %><!-- end footerLinks.forEach -->
                                <input class="form-control" name="footerLinkName" value="*" >
                                <input class="form-control" name="footerLinkURL" value="*" >

                        </div><!-- col-lg-3 col-lg-offset-1 -->

                    <br><br>     

                    </div><!-- end col-lg-12 -->                          
                    <!-- End Links -->

                    <!-- Priority -->
                    <div class="col-lg-12" style="padding-bottom:50px">
                         <div class="col-lg-1">
                             <label><small>Priority</small></label>
                            <input class="form-control" name="priority" value="<%= footerSection.priority %>">
                         </div>
                    <br><br><br>                        
                    </div><!-- end col-lg-12 -->
                    <!-- End Priority -->            
                           
                </div><!-- end contain all subsets -->        
                <% }); %><!-- end footerSections.forEach -->
  
                    <!-- submit button -->
                    <div class="col-lg-12">
                        <input type="submit" value="Update">
                    </div><!-- col-lg 12 -->
                    <!-- end submit button -->
                                   



                </form><!-- end -->                   
            

            </div><!-- /container-fluid -->
 <!-- End Page Content -->

        </div><!-- /#pager-wrapper -->
    </div><!-- /#wrapper -->

    <!-- JS -->
    <%- include('./partials/javascript.ejs') %>
    <!-- End JS -->

</body>
</html>
