<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= config.siteNavbar %> | Footer</title>
    <!-- Stylesheets -->
    <%- include('./partials/styling.ejs') %>
    <!-- End Stylesheeting -->
</head>

<body>
    <div id="wrapper">
<!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->

            <!-- Top Menu Items -->
            <%- include('./partials/navbar.ejs') %>

            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <%- include('./partials/sidebar') %>
            <!-- /.navbar-collapse -->
        </nav>
<!-- End Navigation -->

        <div id="page-wrapper">
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Edit Footer
                        </h1>
                    </div><!-- col-lg 12 -->
                </div><!-- /.row -->
                <!-- End Page Heading -->

<!-- Begin Page Content -->
                <form role="form" action="/admin/navigation/footer" method="POST">

                    <% footerSections.forEach (function (footerSection) { %>
                    <div class="col-lg-12 table table-bordered"><!-- Contain all subsets -->
                        <!-- Header -->
                        <div class="col-lg-12">
                            <div class="col-lg-3">
                                 <label><small>Header</small></label>
                                 <input class="hidden" name="id" value="<%= footerSection.id %>" readonly >
                                 <input class="form-control" name="header" placeholder="Header" value="<%= footerSection.header %>">
                            </div>
                        </div>
                        <!-- End Header -->

                        <!-- Links -->
                        <div class="col-lg-12" style="padding-bottom:50px">
                            <div class="col-lg-8">   
                                <textarea class="form-control" placeholder="NAME|URL;NAME|URL;...NAME|URL" rows="1" name="links"><%= footerSection.links %></textarea>
                            </div>
                        </div>
                        <!-- End Links -->

                        <!-- Priority -->
                        <div class="col-lg-12">
                             <div class="col-lg-1">
                                 <label><small>Priority</small></label>
                                <input class="form-control" name="priority" value="<%= footerSection.priority %>">
                             </div>
                        </div>
                        <!-- End Priority -->  

                        <!-- Delete -->
                        <div class="col-lg-12" style="padding-bottom:50px" align="right">
                            <a class="btn btn-sm btn-danger" href="/admin/navigation/footer/delete/<%= footerSection.id %>">Delete</a>  
                        </div>
                        <!-- End Delete -->

                               
                    </div><!-- end contain all subsets -->
                    <% }); %><!-- end footerSections.forEach -->
                    <% if (footerSections.length != 0) { %>
                        <!-- submit button -->
                        <div class="col-lg-12" align="center">
                            <input type="submit" class="btn btn-lg btn-success" value="Update">
                        </div><!-- col-lg 12 -->
                        <!-- end submit button -->
                    <% } %>

                </form>

                <!-- Add New Heading  -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Add New
                        </h1>
                    </div>
                </div>
                <!-- End Add New Heading -->   

                 <form role="form" action="/admin/navigation/footer/add" method="POST">
                    <div class="col-lg-12 table table-bordered">

                        <!-- Header -->                
                        <div class="col-lg-12">
                            <div class="col-lg-3">
                                 <label><small>Header</small></label>
                                 <input class="form-control" name="header" placeholder="Name">
                            </div>
                        </div>  
                        <!-- End Header -->

                        <!-- Links -->
                        <div class="col-lg-12" style="padding-bottom:50px">
                            <div class="col-lg-8">
                                <textarea class="form-control" placeholder="NAME|URL;NAME|URL;...NAME|URL"  rows="1" name="links"></textarea>
                            </div>
                        </div>
                        <!-- End Links -->

                        <!-- Priority -->
                        <div class="col-lg-12" style="padding-bottom:50px">
                             <div class="col-lg-1">
                                 <label><small>Priority</small></label>
                                <input class="form-control" name="priority" placeholder="0" >
                             </div>
                        </div>
                        <!-- End Priority -->
                    </div><!-- end table table-bordered -->

                    <!-- submit button -->
                    <div class="col-lg-12" align="center">
                        <input class="btn btn-lg btn-success"  type="submit" value="Add New">
                    </div>
                    <!-- end submit button -->

                 </form>



            </div><!-- /container-fluid -->
 <!-- End Page Content -->

        </div><!-- /#pager-wrapper -->
    </div><!-- /#wrapper -->

    <!-- JS -->
    <%- include('./partials/javascript.ejs') %>
    <!-- End JS -->

</body>
</html>
