<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= config.siteNavbar %> | Admin</title>

    <!-- Stylesheets -->
    <%- include('./partials/styling.ejs') -%>
    <!-- End Stylesheeting -->

</head>

<body>
    <div id="wrapper">

<!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Top Menu Items -->
            <%- include('./partials/navbar.ejs') %>
            <!-- End Top Menu Items -->
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <%- include('./partials/sidebar') %>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">
            <div class="container-fluid">
            
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Dashboard <small></small>
                        </h1>
                    </div><!-- col-lg 12 -->
                </div><!-- /.row -->
                <!-- End Page Heading -->

                <form role="form" action="/admin/globalConfig" method="POST">                

                    <!-- siteName -->
                    <div class="col-lg-6">
                    
                            <div class="form-group">
                                <label>Website Name</label>
                                <input class="form-control" name="siteName" value="<%= config.siteName %>">
                                <p class="help-block">What's the name of your site?</p>
                            </div>
                            
                    </div>
                    <!-- end siteName -->

                     <!-- siteName -->
                    <div class="col-lg-6">
                    
                            <div class="form-group">
                                <label>Navigation Bar Header</label>
                                <input class="form-control" name="siteNavbar" value="<%= config.siteNavbar %>">
                                <p class="help-block">What should show up at the top on the tabs?</p>
                            </div>
                            
                    </div>
                    <!-- end siteName -->   
                    
                    <!-- submit button -->
                    <div class="col-lg-12" align="center">
                        <input class="btn btn-lg btn-success" type="submit" value="Update">
                    </div>
                    <!-- end submit button -->

                </form>                



            </div><!-- /.container-fluid -->
        </div><!-- /#page-wrapper -->
    </div><!-- /#wrapper -->

    <!-- JS -->
    <%- include('./partials/javascript.ejs') %>
    <!-- End JS -->

</body>

</html>
