<!DOCTYPE HTML>
<!-- partials/footer.ejs -->
<footer>
    <div class="footer-content width">
        <!-- footerSections - object containing all the footer database objects
             footerSection - object containing one of each footerSection object -->
        <% footerSections.forEach( function (footerSection) { %>
            <ul>
                <!-- footerSection.header is the header for the sub-section -->            
                <li><h4><%= footerSection.header %></h4></li>
                <!-- footerLinks - footerSection contains all links for each list in 
                     NAME|URL;NAME|URL;...NAME|URL format. Split each one into an array
                     of NAME|URL -->
                <% var footerLinks = footerSection.links.split(';') %>
                <!-- Run a forEach function for the footerLinks. Each instance is
                     a footerLinkEntry -->
                <% footerLinks.forEach( function (footerLinkEntry) { %>
                     <!-- Split each instance into parts. NAME|URL -->
                    <% var footerLinkParts = footerLinkEntry.split('|'); %> 
                        <li><a href="<%= footerLinkParts[1] %>"><%= footerLinkParts[0] %></a></li>
                <% }); %><!-- end footerLinks.forEach -->
            </ul>
        <% }); %><!-- end footerEntries.forEach -->

        <!-- The last entry of end footer. This is for social media. -->    
            <ul class="endfooter">


                <li><h4><%= socialMedia.header %></h4></li>
                <li><%= socialMedia.description %></li>
                <br/><br/>
                <div class="social-icons">
                    <% if(socialMedia.facebookURL.length !== 0) { %> <a href="<%= socialMedia.facebookURL %>"><i class="fa fa-facebook fa-2x"></i></a> <% } %>
                    <% if(socialMedia.twitterURL.length !== 0) { %><a href="<%= socialMedia.twitterURL %>"><i class="fa fa-twitter fa-2x"></i></a> <% } %>
                    <% if(socialMedia.youTubeURL.length !== 0) { %><a href="<%= socialMedia.youTubeURL %>"><i class="fa fa-youtube fa-2x"></i></a> <% } %>
                    <% if(socialMedia.instagramURL.length !== 0) { %><a href="<%= socialMedia.instagramURL %>"><i class="fa fa-instagram fa-2x"></i></a> <% } %>
                </div>
            </ul><!-- end class="endfooter" -->
            
        <div class="clear"></div>
    </div><!-- class="footer-content width" -->
    
    <!-- Footer bottom. Copyright and reference to source template -->
    <div class="footer-bottom">
        <p>&copy; <%= config.siteName %> 2015. stemJS Framework by <a href="http://1379.tech/">Matthew Stanley</a>.  <a href="http://zypopwebtemplates.com/">Template</a> by ZyPOP</p>
    </div>
</footer>