<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title> | Index</title>
  <!-- Stylesheets, JS Dependencies -->
  <%- include('./partials/dependencies') %>
</head>

<body>
<div id="container" class="width">

<!-- navigation bar -->
<%- include('./partials/navbar') %> 
<!-- end navigation bar -->
    <div id="intro">
        <div class="width">
            <div class="intro-content">
 
                <h2>Index Page Header</h2>
                <p>Index Page Information Text</p>
                                  	
                <p><a href="#" class="button button-slider"><i class="fa fa-gbp"></i>Order</a>
				<a href="#" class="button button-reversed button-slider"><i class="fa fa-info"></i> Learn More</a></p>
                    
            </div><!-- class="intro-content" -->
        </div><!-- class="width" -->
	</div><!-- id="intro" -->

    <div id="body" class="width">
		<section id="content" class="two-column with-right-sidebar">
		<article class="expanded">

            		<h2>Buy unbranded</h2>

			
            <p>Purchasing a template license for 8.00 GBP (at time of writing around 12 USD) gives you the right to remove any branding including links, logos and source tags relating to ZyPOP. As well as waiving the attribution requirement, your payment will also help us provide continued support for users as well as creating new web templates. Find out more about how to buy at the licensing page on our website which can be accessed at <a href="http://zypopwebtemplates.com/licensing" title="template license">http://zypopwebtemplates.com/licensing</a></p>

		</article>
        </section>

        <!-- sidebars -->        
        <aside class="sidebar big-sidebar right-sidebar">
            <ul>
                 <%- include('./partials/sidebarPrimary') %>
                 <%- include('./partials/sidebarSecondary') %>
            </ul>
        </aside>
        <!-- end sidebars -->

    	<div class="clear"></div>
    </div><!-- end id="body" -->
</div><!-- end id="container" -->

        <!-- footer -->
        <%- include('./partials/footer.ejs') %>
        <!-- end footer -->

</body>
</html>