<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%= config.siteNavbar %> | Index</title>
  <!-- Stylesheets, JS Dependencies -->
  <%- include('./partials/dependencies') %>
</head>

<body>
<div id="container" class="width">

<!-- navigation bar -->
<%- include('./partials/navbar') %> 
<!-- end navigation bar -->
    <div id="intro">
        <div class="width">
            <div class="intro-content">
 
                <h2><%= config.indexHeader %></h2>
                <p><%= config.indexTagline %></p>
                                  	
                <p><a href="#" class="button button-slider"><i class="fa fa-gbp"></i>Order</a>
				<a href="#" class="button button-reversed button-slider"><i class="fa fa-info"></i> Learn More</a></p>
                    
            </div><!-- class="intro-content" -->
        </div><!-- class="width" -->
	</div><!-- id="intro" -->

    <div id="body" class="width">
		<section id="content" class="two-column with-right-sidebar">
		<article class="expanded">

            		<h2><%= config.indexArticleHeader %></h2>

			
            <p><%- config.indexArticleContent %></p>

		</article>
        </section>

        <!-- sidebars -->        
        <aside class="sidebar big-sidebar right-sidebar">
            <ul>
                 <%- include('./partials/sidebarPrimary') %>
                 <%- include('./partials/sidebarSecondary') %>
            </ul>
        </aside>
        <!-- end sidebars -->

    	<div class="clear"></div>
    </div><!-- end id="body" -->
</div><!-- end id="container" -->

        <!-- footer -->
        <%- include('./partials/footer.ejs') %>
        <!-- end footer -->

</body>
</html>