<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%= config.siteNavbar %> | <%= page.navbarTitle %></title>
  <!-- Stylesheets, JS Dependencies -->
  <%- include('./partials/dependencies') %>
</head>
<body>
<div id="container" class="width">

<!-- navigation bar -->
<%- include('./partials/navbar') %> 
<!-- end navigation bar -->

    <div id="body" class="no-intro">

      <section id="content" class="one-column">


  
        <article class="expanded">

                <h2><%= page.articleHeader %></h2>

                <p><%- page.articleContent %></p>

        </article>
        </section>
        
        
      <div class="clear"></div>
    </div>
</div>

        <!-- footer -->
        <%- include('./partials/footer.ejs') %>
        <!-- end footer -->

</body>
</html>